/*----Обнуление----*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,
:active {
    outline: none;
}
a:focus,
a:active {
    outline: none;
}
nav,
footer,
header,
aside {
    display: block;
}
html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}
button {
    cursor: pointer;
}
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
a,
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
ul li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,h2,h3,h4,h5,h6 {
    font-size: inherit;
    font-weight: 400;
}
/*=========================================== */

body {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #0A0A52;

    margin-top: 48px;
}

/***************Header****************/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section {
    margin: 0 auto;
    max-width: 1210px;
}
.header__inner {
    display: flex;
    width: 230px;
    justify-content: space-between;
    align-items: center;
}

/***Кнопка "СВЯЗАТЬСЯ"***/
.connection {
    color: #E20000;
    font-weight: 600;
    text-transform: uppercase;
    width: 165px;
    height: 56px;
    border-radius: 28px;
    background: #F5F5F5;
    box-shadow: 0px 10px 20px rgba(226, 0, 0, 0.12);
}
.connection:hover {
   animation:connection 1s infinite;
}
@keyframes connection {
    0%{box-shadow: 0px 10px 20px rgba(226, 0, 0, 0.12);}
    50%{box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.12);}
    100%{box-shadow: 0px 10px 20px rgba(226, 0, 0, 0.12);}
}

/****Burger***/

.burger {
    display: block;
    width: 26px;
    height: 20px;
    cursor: pointer;

    position: relative;
}

.burger__menu {
    position: absolute;
    height: 2px;
    width: 26px;
    background-color: #000;

    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    transition: all .3s ease;
}
.burger:before,
.burger:after {
    content: '';
    height: 2px;
    width: 26px;
    background-color: #000;

    position: absolute;
    z-index: 1;
    right: 0;
    transition: all .3s ease;
}
.burger:before{
    top: 0;
}
.burger:after {
    bottom: 0;
}

/*.active_burger:before {*/
/*    top: 50%;*/
/*    transform: translateY(-50%) rotate(45deg);*/
/*}*/
/*.active_burger:after {*/
/*    width: 29px;*/
/*    top: 50%;*/
/*    transform: translateY(-50%) rotate(-45deg);*/
/*}*/

/*.active_burger span {*/
/*    transform: scale(0);*/
/*}*/

/****Title****/

.title {
    margin-left: 280px;

}
.title__bolt {
    font-size: 40px;
    line-height: 48px;
    font-weight: 700;

    margin-top: 120px;
}
.title h2 {
    font-size: 40px;
    line-height: 48px;
}
.title h3 {
    font-size: 24px;
    line-height: 32px;

    margin-top: 20px;
}

/****Стоимость разработки****/

#service {
    display: flex;

    margin-top: 70px;
}
.service__title {
    font-size: 22px;
    line-height: 32px;
    font-weight: 700;
}
.service__inner {
    display: flex;
    flex-wrap: wrap;

    margin: 10px 0 25px;
}
.service__item {
    width: 170px;
    height: 59px;
    line-height: 24px;
    border-radius: 20px;
    border: 1px solid rgba(10, 10, 82, 0.58);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    padding: 0 15px;
    margin: 10px 0 0 10px;

    transition: opacity .2s;
}
.service__item:hover {
    opacity: 70%;
}
.service__item:first-child {
    margin-left: 0;
}
.service--item {
    margin-left: 0;
}
/***Активная кнопка***/

.service__item--active {
    background: url("../images/path_minilogo.png") right bottom no-repeat;
    background-color: #E20000;
    color: #fff;
    font-weight: 700;
    border: none;
}

/**********Диаграмма***********/



/**********Описание услуг (стоймость)**********/

.graph__item {
    display: flex;
    justify-content: space-between;
    line-height: 16px;
    color: #000;

    margin-top: 25px;
}
.graph__content {
    display: flex;
    width: 313px;
    justify-content: space-between;
    font-weight: 700;
}

.graph__order {
    color: #E20000;
    line-height: 24px;

    margin: 14px 0;
}

/****Кнопка "Заказать проект"****/

.graph__order_btn {
    display: flex;
    width: 417px;
    height: 70px;
    background: #E20000;
    border-radius: 20px;
    color: #fff;
    line-height: 16px;
    font-weight: 700;
    cursor: pointer;
    align-items: center;

    padding: 30px;
    position: relative;
}
/***Стрелка на кнопке***/
.graph__order_btn:before {
    content: '';
    display: block;
    width: 34px;
    height: 2px;
    background: #fff;

    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}
.graph__order_btn:after {
    content: '';
    display: block;
    width: 7px;
    height: 7px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;

    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    z-index: 1;
}

/****Как мы работаем****/

.work {
    display: flex;
    align-items: center;
}
.work__content {
    font-size: 18px;
    line-height: 32px;

    margin-top: 50px;
}
.work__content p {
    margin-top: 30px;
}
.work__content ul {
    margin-top: 15px;
}
.work__content li {
    margin: 5px 0;
    padding-left: 17px;
    position: relative;
}
.work__content li:before {
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #E20000;

    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

/********Этапы работы********/

.stages {
    display: flex;
    flex-wrap: wrap;

    margin-top: 45px;
}
/*calc(100%/3)*/
.stages__inner {
    width: 32%;
    height: 320px;
    position: relative;
    margin: 0 13px 13px 0;
}
.stages__numb {
    font-size: 100px;
    font-weight: 700;
    line-height: 110px;
    color: #E20000;
}

.stages__item {
    max-width: 362px;
    background: #fff;
    box-shadow: 0px 4px 20px rgba(6, 6, 58, 0.06);
    border-radius: 5px;
    transform: matrix(1, 0, -0.01, 1, 0, 0);

    padding: 20px 8px 40px 20px;

    position: absolute;
    top: 44px;
    left: 30px;
    z-index: 1;
}
.stages__title {
    font-size: 18px;
    font-weight: 700;
    line-height: 32px;

    margin: 5px 0 10px;
}
.stages__text  {
    line-height: 26px;
}

/********Partfolio********/

.partfolio {
    width: 860px;
    margin: 0 auto;
}
.partfolio span {
    display: block;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;

    margin: 125px 0 40px;
}

.partfolio__title {
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
}
.partfolio__title h1:first-child {
    font-weight: 200;
}
/***Меню портфолио***/

.partfolio__menu ul {
    display: flex;
    justify-content: space-between;

    margin: 38px 0 15px;
}
.partfolio__menu_item {
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}
.partfolio__menu_item:hover {
    opacity: 70%;
}
.partfolio__menu_item--active {
    color: #E20000;
}

/***Партфолио работы***/

.partfolio__conteiner {
    display: flex;
    flex-wrap: wrap;

    /*position: relative;*/
}
.partfolio__pic img {
    width: 100%;
}

.partfolio__pic {
    margin: 30px 40px 0 0;
}
/*.partfolio__pic:nth-child(even) {*/
/*    margin-right: 0;*/

/*    position: absolute;*/
/*    top: 60px;*/
/*    right: 0;*/
/*    z-index: 1;*/
/*}*/
.partfolio__pic:nth-child(even) {
    margin: 60px 0 0 0;
}